<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!-- For app.config -->
	<connectionStrings>
		<add name="FetchConnection" connectionString="Data Source=localhost;Initial Catalog=db1;User ID=sa;Password=password;pooling='true';Max Pool Size=200000;TrustServerCertificate=true;Encrypt=false" />
		<add name="PostConnection" connectionString="Data Source=localhost1;Initial Catalog=db2;User ID=sa;Password=password123;pooling='true';Max Pool Size=200000;TrustServerCertificate=true;Encrypt=false" />
	</connectionStrings>
</configuration>